@import "../../_globalColor";

.publication-header-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 0px;
}

.publication-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.subTitle {
  color: $subTitle;
}

@media (max-width: 768px) {
  .publication-header-title {
    font-size: 30px;
    text-align: center;
  }
  .publication-header-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
